!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "Store"
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1" }
    %meta{ name: "apple-mobile-web-app-capable", content: "yes" }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    - if notice
      %p.notice= notice
    - if alert
      %p.alert= alert

    = yield
